<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SecureStay</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav>
        <h2>SecureStay</h2>

        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/listings">Listings</a>

            {% if current_user.is_authenticated %}
                <span class="welcome-text">Welcome, {{ current_user.full_name }}</span>
                <a href="{{ url_for('add_listing') }}">Add Listing</a>
                <a href="{{ url_for('logout') }}">Logout</a>
            {% else %}
                <a href="{{ url_for('login') }}">Login</a>
                <a href="{{ url_for('register') }}">Register</a>
            {% endif %}
        </div>
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>

</html>
